/* You can add global styles to this file, and also import other style files */
//colores y fuente
body {
  font-family: 'Helvetica Neue', sans-serif; /* Cambia la fuente a la que desees utilizar */
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

/* Botones habilitados */
.button {
  background-color: rgba(25, 20, 20, 0.9); /* Negro con 90% de opacidad */
  color: rgba(255, 255, 255, 0.9); /* Blanco con 90% de opacidad */
}

/* Botones deshabilitados */
.button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

tr:hover td {
  background-color: rgba(
    255,
    255,
    255,
    0.15
  ); /* Color de acentuación al pasar el cursor */
}

.button-rechoncho {
  display: inline-block;
  padding: 15px 40px;
  background-color: rgba(29, 185, 84, 0.9); /* Verde con 90% de opacidad */
  color: rgba(255, 255, 255, 0.9); /* Blanco con 90% de opacidad */
  font-family: 'Helvetica Neue', sans-serif; /* Cambia la fuente a la que desees utilizar */
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px; /* Borde redondeado */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-rechoncho:hover {
  background-color: rgba(
    20,
    140,
    64,
    0.9
  ); /* Cambiar el color al pasar el ratón */
}


