/* You can add global styles to this file, and also import other style files */
// Grid
//colores y fuente
body {
  font-family: 'Helvetica Neue', sans-serif; /* Cambia la fuente a la que desees utilizar */
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Define las columnas de la cuadrícula */
  grid-gap: 10px; /* Espacio entre los elementos */
  justify-items: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  max-width: 100%; /* Ocupa el ancho completo de su contenedor */
  margin: 0 auto; /* Centra el contenedor en pantalla si el ancho es menor al 100% */
}

.grid-item {
  max-width: 100%; /* Asegura que las imágenes no superen el ancho del contenedor */
}

.grid-item img {
  max-width: 100%; /* Asegura que las imágenes no superen el ancho del contenedor */
  height: auto; /* Asegura que las imágenes mantengan su relación de aspecto */
}

/* Botones habilitados */
.button {
  background-color: rgba(25, 20, 20, 0.9); /* Negro con 90% de opacidad */
  color: rgba(255, 255, 255, 0.9); /* Blanco con 90% de opacidad */
}

/* Botones deshabilitados */
.button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

tr:hover td {
  background-color: rgba(
    255,
    255,
    255,
    0.15
  ); /* Color de acentuación al pasar el cursor */
}

.button-rechoncho {
  display: inline-block;
  padding: 15px 40px;
  background-color: rgba(29, 185, 84, 0.9); /* Verde con 90% de opacidad */
  color: rgba(255, 255, 255, 0.9); /* Blanco con 90% de opacidad */
  font-family: 'Helvetica Neue', sans-serif; /* Cambia la fuente a la que desees utilizar */
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px; /* Borde redondeado */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-rechoncho:hover {
  background-color: rgba(
    20,
    140,
    64,
    0.9
  ); /* Cambiar el color al pasar el ratón */
}

.sticky-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente los elementos */
  padding: 20px;
  background-color: #1db954; /* Color de fondo similar a Spotify */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: top 0.3s;
  z-index: 1000;
  position: relative;
  color: white; /* Texto blanco */
}

.sticky-header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sticky-header div:first-child {
  font-size: 24px;
  font-weight: bold;
}

.sticky-header div:last-child {
  display: flex;
  align-items: center;
  color: white; /* Texto blanco */
  font-weight: bold;
}

.sticky-header button {
  background-color: #1db954; /* Color de fondo del botón */
  color: white; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sticky-header button:hover {
  background-color: #179745; /* Color de fondo del botón al pasar el mouse */
}
